
header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background: $colorDarkGray;
    color: $colorWhite;

    h2 {
        margin: 20px 0px;
        text-align: center;
    }
}